#checkforrepeat {
  --hello: repeated;
}

@media (min-width: 1440px) {
  .block.col-xl-1 {
    --column_span: 1;
    --column_start: 8;
  }
  .block.start-xl-1 {
    grid-column-start: 2;
  }
  .block.col-xl-2 {
    --column_span: 2;
    --column_start: 7;
  }
  .block.start-xl-2 {
    grid-column-start: 3;
  }
  .block.col-xl-3 {
    --column_span: 3;
    --column_start: 7;
  }
  .block.start-xl-3 {
    grid-column-start: 4;
  }
  .block.col-xl-4 {
    --column_span: 4;
    --column_start: 6;
  }
  .block.start-xl-4 {
    grid-column-start: 5;
  }
  .block.col-xl-5 {
    --column_span: 5;
    --column_start: 6;
  }
  .block.start-xl-5 {
    grid-column-start: 6;
  }
  .block.col-xl-6 {
    --column_span: 6;
    --column_start: 5;
  }
  .block.start-xl-6 {
    grid-column-start: 7;
  }
  .block.col-xl-7 {
    --column_span: 7;
    --column_start: 5;
  }
  .block.start-xl-7 {
    grid-column-start: 8;
  }
  .block.col-xl-8 {
    --column_span: 8;
    --column_start: 4;
  }
  .block.start-xl-8 {
    grid-column-start: 9;
  }
  .block.col-xl-9 {
    --column_span: 9;
    --column_start: 4;
  }
  .block.start-xl-9 {
    grid-column-start: 10;
  }
  .block.col-xl-10 {
    --column_span: 10;
    --column_start: 3;
  }
  .block.start-xl-10 {
    grid-column-start: 11;
  }
  .block.col-xl-11 {
    --column_span: 11;
    --column_start: 3;
  }
  .block.start-xl-11 {
    grid-column-start: 12;
  }
  .block.col-xl-12 {
    --column_span: 12;
    --column_start: 2;
  }
  .block.start-xl-12 {
    grid-column-start: 13;
  }
  .block.col-xl-13 {
    --column_span: 13;
    --column_start: 2;
  }
  .block.start-xl-13 {
    grid-column-start: 14;
  }
  .block.col-xl-14 {
    --column_span: 14;
    --column_start: 1;
  }
  .block.start-xl-14 {
    grid-column-start: 15;
  }
  .block.start-xl-0 {
    grid-column-start: 1;
  }
  .block.row-xl-1 {
    grid-row: 1;
  }
  .block.row-xl-2 {
    grid-row: 2;
  }
  .block.row-xl-3 {
    grid-row: 3;
  }
  .block.row-xl-4 {
    grid-row: 4;
  }
  .block.row-xl-auto {
    grid-row: auto;
  }
}