@use "../abstracts" as *;

.block {
  @include xs {
    @for $i from 1 through 14 {
      &.col-xs-#{$i} {
        --column_span: #{$i};
        --column_start: #{round((14 - $i) / 2 + 1)};
      }
      &.start-xs-#{$i} {
        grid-column-start: $i + 1;
      }
    } //loop
    &.start-xs-0 {
      grid-column-start: 1;
    }

    @for $i from 1 through 4 {
      &.row-xs-#{$i} {
        grid-row: #{$i};
      }
    }
    &.row-xs-auto {
      grid-row: auto;
    }
  } //xs
}
