@use '../abstracts' as *;


//================================================
//Background setup for individual section blocks
//each section has a .background_area element to run colors and images through
//they cover the section
//================================================
.background_area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	.fill {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-color: var(--background_color);
		img, video, iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover; 
		}
		//add utility classes to control the center point of the image?


		&.overlay{
			&::after{
				@include psuedo_block();
				@include image_cover();
				width: 101%;
				z-index: 1;
				background-image: url('file:///Users/jeremy1/Documents/dev/building%20blocks/assets/gradient.svg');
				background-size: cover;
			}
			@for $i from 1 through 10 {
				&.overlay-#{$i}0 {
					&::after{
						opacity: calc(.1 * #{$i});
					}
				}
			}
		}
	}
}

//Color Utility Classes
@each $type in $colors_full {
	.has-#{nth($type, 1)}-background {
		&.background_fill {
			background-color: #{nth($type, 2)};
		}
	}
}