#checkforrepeat {
  --hello:repeated;
}

.background_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.background_area .fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: var(--background_color);
}
.background_area .fill img, .background_area .fill video, .background_area .fill iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.background_area .fill.overlay::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 101%;
  z-index: 1;
  background-image: url("file:///Users/jeremy1/Documents/dev/building%20blocks/assets/gradient.svg");
  background-size: cover;
}
.background_area .fill.overlay.overlay-10::after {
  opacity: calc(.1 * 1);
}
.background_area .fill.overlay.overlay-20::after {
  opacity: calc(.1 * 2);
}
.background_area .fill.overlay.overlay-30::after {
  opacity: calc(.1 * 3);
}
.background_area .fill.overlay.overlay-40::after {
  opacity: calc(.1 * 4);
}
.background_area .fill.overlay.overlay-50::after {
  opacity: calc(.1 * 5);
}
.background_area .fill.overlay.overlay-60::after {
  opacity: calc(.1 * 6);
}
.background_area .fill.overlay.overlay-70::after {
  opacity: calc(.1 * 7);
}
.background_area .fill.overlay.overlay-80::after {
  opacity: calc(.1 * 8);
}
.background_area .fill.overlay.overlay-90::after {
  opacity: calc(.1 * 9);
}
.background_area .fill.overlay.overlay-100::after {
  opacity: calc(.1 * 10);
}

.has-white-background.background_fill {
  background-color: white;
}

.has-grey-100-background.background_fill {
  background-color: #f9f9f9;
}

.has-grey-200-background.background_fill {
  background-color: #ebebeb;
}

.has-grey-300-background.background_fill {
  background-color: #d9d9d9;
}

.has-grey-400-background.background_fill {
  background-color: #c4c4c4;
}

.has-grey-600-background.background_fill {
  background-color: #979797;
}

.has-grey-700-background.background_fill {
  background-color: #767676;
}

.has-grey-800-background.background_fill {
  background-color: #424242;
}

.has-grey-900-background.background_fill {
  background-color: #231f20;
}

.has-black-background.background_fill {
  background-color: black;
}

.has-blue-300-background.background_fill {
  background-color: #0066ff;
}

.has-blue-500-background.background_fill {
  background-color: #0052cc;
}

.has-blue-700-background.background_fill {
  background-color: #174385;
}