#checkforrepeat {
  --hello:repeated;
}

.button {
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.6875rem 1.5rem 0.6875rem 1.5rem;
  border-radius: 23px;
  transition: 0.3s all;
}
.button.neon_green {
  background-color: #b9fa3d;
}
.button.neon_green:hover {
  background-color: #000000;
  color: #b9fa3d;
}

input[type=number] {
  font-weight: 500;
  font-size: 1.125rem;
  color: #424242;
  text-decoration: none;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid black;
  padding: 0.6875rem 1.5rem 0.6875rem 1.5rem;
  border-radius: 23px;
  width: 16ch;
}
input[type=number].nowheel {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}