#checkforrepeat {
  --hello: repeated;
}

.content--features {
  padding: 5rem 0;
}
.content--features .content_feature-text_area * {
  text-align: center;
}
.content--features.has-background-black .background_area .fill {
  background-color: black;
}
.content--features.has-background-black h1,
.content--features.has-background-black h2,
.content--features.has-background-black h3 {
  color: white;
}
.content--features.has-background-black h4,
.content--features.has-background-black h5,
.content--features.has-background-black h6,
.content--features.has-background-black p {
  color: white;
}
.content--features > .text_area {
  grid-column: 3/-3;
}
.content--features > .text_area .content {
  padding: 0 0 2rem 0;
}
.content--features > .flex_area {
  grid-column: 3/-3;
}
.content--features > .flex_area > .content {
  display: flex;
  gap: var(--gap);
}
.content--features > .flex_area > .content .feature_item {
  gap: var(--gap);
  display: flex;
  flex-direction: column;
  width: 33%;
}
.content--features > .flex_area > .content .feature_item .text_area .content {
  padding: 0 1.5rem;
  gap: var(--sp-200);
}
.content--features > .flex_area > .content .feature_item .text_area .content * {
  text-align: center;
}